{
    "server": "irc.saunalahti.fi",
    "nick": "cah-dev",
    "setTopic": true,
    "topicBase": "|| This will be appended to the topic along with the game status.",
    "notifyUsers": true,
    "startOnFirstJoin": true,
    "maxIdleRounds": 2,
    "voicePlayers": false,
    "pointLimit": 1,
    "exitOnError": false,
    "connectCommands": [
        {
            "target": "",
            "message": ""
        }
    ],
    "joinCommands": {
        "#pi-cah-dev": [
            {
                "target": "#pi-cah-dev",
                "message": "Hello guys"
            }
        ]
    },
    "userJoinCommands": {
        "#pi-cah-dev": [
            {
                "target": "#pi-cah-dev",
                "message": "Hi <%= nick %>! Type !join to play"
            }
        ]
    },
    "clientOptions": {
        "userName": "cah",
        "debug": true,
        "channels": ["#pi-cah-dev"],
        "floodProtection": true,
        "floodProtectionDelay": 2000
    },
    "beers": [ "Blue Moon", "Pabst Blue Ribbon", "Yuengling", "Stella Artois", 
               "Modelo", "Fat Tire Amber Ale", "Magic Hat", "Samuel Adams",
               "Sierra Nevada", "Leffe Blonde", "Duvel", "Warsteiner", "Erdinger Weiss"
    ]
}
