{
    "server": "irc.saunalahti.fi",
    "nick": "cah-dev",
    "notifyUsers": true,
    "startOnFirstJoin": true,
    "maxIdleRounds": 2,
    "timeLimit": 120,
    "voicePlayers": false,
    "pointLimit": 1,
    "exitOnError": false,
    "stopOnLastPlayerLeave": false,
    "commandPrefixChars": ".!",
    "topic": {
        "position": "right",
        "separator": "::",
        "messages": {
            "on":  ["A game is running. Type %%join to get in on it!", "bold.yellow"],
            "off": "",
            "winner": ["Reigning champion: <%= nick %>", "bold.yellow"]
        }
    },
    "connectCommands": [
        {
            "target": "",
            "message": ""
        }
    ],
    "joinCommands": {
        "#pi-cah-dev": [
            {
                "target": "#pi-cah-dev",
                "message": "Hello guys"
            }
        ]
    },
    "userJoinCommands": {
        "#pi-cah-dev": [
            {
                "target": "#pi-cah-dev",
                "message": "Hi <%= nick %>! Type %%join to play"
            }
        ]
    },
    "clientOptions": {
        "userName": "cah",
        "debug": true,
        "channels": ["#pi-cah-dev"],
        "floodProtection": true,
        "floodProtectionDelay": 2000
    },
    "beers": [ "Blue Moon", "Pabst Blue Ribbon", "Yuengling", "Stella Artois", 
               "Modelo", "Fat Tire Amber Ale", "Magic Hat", "Samuel Adams",
               "Sierra Nevada", "Leffe Blonde", "Duvel", "Warsteiner", "Erdinger Weiss"
    ]
}
