{
    "server":        "openirc.snt.utwente.nl",
    "nick":          "cah",
    "setTopic":      true,
    "topicBase":     "|| This will be appended to the topic along with the game status.",
    "notifyUsers":   false,
    "startOnFirstJoin": true,
    "maxIdleRounds": 2,
    "voicePlayers": false,
    "pointLimit":    10,
    "exitOnError": false,
    "connectCommands": [
        {
            "target": "",
            "message": ""
        }
    ],
    "joinCommands": {
        "#cah": [
            {
                "target": "",
                "message": ""
            }
        ]
    },
    "userJoinCommands": {
        "#cah": [
            {
                "target": "#cah",
                "message": "Hi <%= nick %>! Type !join to play"
            }
        ]
    },
    "clientOptions": {
        "userName":             "cah",
        "channels":             ["#cah"],
        "floodProtection":      true,
        "floodProtectionDelay": 1000
    },
    "beers": [ "Blue Moon", "Pabst Blue Ribbon", "Yuengling", "Stella Artois", 
               "Modelo", "Fat Tire Amber Ale", "Magic Hat", "Samuel Adams",
               "Sierra Nevada", "Leffe Blonde", "Duvel", "Warsteiner", "Erdinger Weiss"
    ]
}
